body{
  background: rgb(255, 255, 255);
  background-image: url(crowdBG.jpg);
  background-repeat: no-repeat;
  align-items: center;
  background-size: cover;
}
h3{
  margin-top: 40px;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}